body {
    color: aliceblue;
    background: linear-gradient(to top left, #0066ff 0%, #cc00ff 100%);
}

.nav-bar {
    border: 4px rgb(200, 129, 250) double;
    border-radius: 25px;
    color:blue;
}

.nav-bar::after {
    content: "";
    clear: both;
    display: table;
}

.page {
    padding: 15px;
    float: left;
}

.page::before {
    content: "// ";
}

.logo {
    float: left;
    height: 50px;
    border-radius: 25px;
    border: #cc00ff;
    position: relative;
    /* overflow:scroll; */
}

.name {
    position: absolute;
    top: 15px;
    width: 100%;
    text-align: center;
    font-size: 20px;
    font-family: 'Courier New', Courier, monospace;
}

.nav-btn {
    float: right;
    height: 50px;
    background-image: url(btn-bg.jpg);
    border-radius: 25px;
    border: #cc00ff;
    /* box-shadow: #cc00ff; */
}

.container {
    height: 7vh;
}

.nav-sec {
    padding: calc(1em + 2px);
    width: 100vw;
}

a {
    border: solid 1px transparent;
    padding: 1em;
}

p {
    margin: 3em;
    clear: both;

}

a {
    text-decoration: none;
}

nav {
    margin-top: 8px;
    clear: both;
    position: sticky;
    top: 8px;
    background-color: #66ccff;
    overflow: hidden;
    scroll-behavior: smooth;
    border-radius: 25px;
}